.image-upload-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #c2c2c2;
  color: #494949;
  font-weight: 400;
  font-size: 0.9em;
  cursor: pointer;
  overflow: hidden;
}

.image-upload-wrapper input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.image-upload-wrapper p {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1em;
}

.image-upload-wrapper p.passive {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.image-upload-wrapper:hover p.passive {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 1em;
  border-radius: 5px;
  color: white;
}

.image-upload-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 650px) {
  .image-upload-wrapper {
    height: 18em;
  }
}
